body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  align-content: center;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: black;
  color: whitesmoke;
  margin: 10px auto;
  padding: 5px;
}

.content {
  color: whitesmoke;
  background: url("./coronavirus.jpg") center ;
  background-position: left;
}

.intro {
  padding: 10px;
  margin: 5px;
}

.intro h4 {
  line-height: 26px;
  width: 75%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}

.links {
  display: flex;
  margin: 5px;
  padding: 2px 0px;
  text-align: center;
  justify-content: space-around;
  background-color: rgb(85, 243, 85);
}

.links a {
  text-decoration: none;
  color: darkblue;
}
.links a h3 {
  margin: 8px;
}

.links a:hover {
  color: white;
  cursor: pointer;
}

footer {
  margin-top: 50px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 2px;
}
